{% extends "app/base.html" %}
{% load static %}
{% block main-content %}
<!DOCTYPE html>
<html>
    <body>
        <main id="content" role="main">
            <section class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">THPT Phan Văn Trị</h1>
                <p class="h5 text-center text-white mt-3">
                    🌟 Trang web học đường dành cho 
                    <span class="fw-bold text-warning">học sinh</span> 
                    và 
                    <span class="fw-bold text-success">giáo viên</span>
                </p>
            </div>
            </section>
        </main>
        <section>
            Chờ cập nhật...
        </section>
    </body>
</html>
{% endblock main-content %}